.broadcast-body {
    margin: 0;
    overflow: hidden;
    background: transparent;
}

.broadcast-body canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

[id="broadcast-canvas"] {
    z-index: 1;
}

[id="broadcast-script-canvas"] {
    z-index: 2;
}
